.about {
  display: flex;
  gap: 30px;
  padding: 120px 100px 120px 0;

  &__images {
    display: flex;
    gap: 30px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.button-container {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.button--mod {
  color: #303030;
}
